.description__icon-box {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 116px;
  border: 0;
  padding-bottom: 12px;
  padding-right: 34px;
  box-sizing: border-box;
  @include flex(row, end, end);
  background-image: url('../images/description-slider/icon-background.svg');
  background-color: transparent;
  background-repeat: no-repeat;

  @media screen and (max-width: 1023px) {
    background-image: url('../images/description-slider/icon-background-small.svg');
    width: 70px;
    height: 28px;
    padding-right: 24px;
    padding-bottom: 8px;
  }

  @media screen and (max-width: 425px) {
    bottom: 14px;
  }
}