.bikes {
  width: 100%;
  padding: 60px $paddingHorizontalSection;
  @include flex(column, start, start);
  box-sizing: border-box;

  @media screen and (max-width: 1439px) {
    padding: 60px $paddingHorizontalSectionSmallDesktop;
  }

  @media screen and (max-width: 1023px) {
    padding: 60px $paddingHorizontalSectionTablet;
  }

  @media screen and (max-width: 767px) {
    padding: 40px $paddingHorizontalSectionLargeMobile;
    overflow: hidden;
    position: relative;
  }

  @media screen and (max-width: 425px) {
    padding: 40px $paddingHorizontalSectionMobile;

    &::before {
      content: '';
      display: block;
      border-top: 1px solid #e3e3e3;
      margin-bottom: 40px;
      width: 100%;
    }
  }
}