.description {
  padding: 60px 0 60px $paddingHorizontalSection;
  @extend %limitedWidthSection;
  @include flex(column, start, start);

  @media screen and (max-width: 1439px) {
    padding-left: $paddingHorizontalSectionSmallDesktop;
    padding-top: 40px;
  }

  @media screen and (max-width: 1023px) {
    padding-left: $paddingHorizontalSectionTablet;
    padding-top: 0;
  }

  @media screen and (max-width: 767px) {
    padding-left: $paddingHorizontalSectionLargeMobile;
  }

  @media screen and (max-width: 425px) {
    padding: 40px $paddingHorizontalSectionMobile;

    &::before {
      content: '';
      display: block;
      border: 1px solid #e3e3e3;
      margin-bottom: 40px;
      width: 100%;
    }
  }
}