.form__submit-button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 0;
  font-size: 13px;
  font-weight: $medium;
  line-height: 28px;
  color: $titleWhiteTheme;
}