.intro__bike-card {
  width: 100%;
  height: 100%;
  max-height: 300px;
  max-width: 440px;
  position: sticky;
  top: 347px;
  border-radius: 20px;
  background-color: $backgroundWhiteTheme;
  @include flex(row, center, center);
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.44));

  @media screen and (max-width: 768px) {
    max-width: 320px;
    max-height: 240px;
  }

  @media screen and (max-width: 730px) {
    max-width: 234px;
    max-height: 160px;
  }
}