.slider__image-container {
  @extend %zeroSpaces;
  list-style-type: none;
  margin-top: 80px;
  @include flex(row, start, center);
  left: 0;
  position: relative;
  width: 100%;
  transition: left 1s ease;

  @media screen and (max-width: 1023px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 425px) {
    order: 1;
  }
}