.footer {
  @extend %limitedWidthSection;
  padding: 80px $paddingHorizontalSection 60px;
  background-color: $footerBackgroundWhiteTheme;
  width: 100%;

  @media screen and (max-width: 1439px) {
    padding: 80px $paddingHorizontalSectionSmallDesktop 60px;
  }

  @media screen and (max-width: 1023px) {
    padding: 80px $paddingHorizontalSectionTablet 60px;
  }

  @media screen and (max-width: 767px) {
    padding: 80px $paddingHorizontalSectionLargeMobile 60px;
  }

  @media screen and (max-width: 425px) {
    padding: 60px $paddingHorizontalSectionMobile 16px;
  }
}