@import "../vendor/normalize.css";
@import "../vendor/fonts.css";

@import "../root.scss";

@import "../blocks/page/page.scss";

@import "../blocks/header/header.scss";

@import "../blocks/menu/menu.scss";
@import "../blocks/menu/__container/menu__container.scss";
@import "../blocks/menu/__item/menu__item.scss";
@import "../blocks/menu/__button/menu__button.scss";

@import '../blocks/main/main.scss';

@import "../blocks/intro/intro.scss";
@import "../blocks/intro/__title/intro__title.scss";
@import "../blocks/intro/__text/intro__text.scss";
@import "../blocks/intro/__button/intro__button.scss";
@import "../blocks/intro/__card-box/intro__card-box.scss";
@import "../blocks/intro/__bike-card/intro__bike-card.scss";
@import "../blocks/intro/__bike-text/intro__bike-text.scss";