.intro__card-box {
  width: 100%;
  height: 410px;
  max-width: calc(100vw - 630px);
  position: absolute;
  right: 0;
  bottom: 79px;
  box-sizing: border-box;
  
  @media screen and (min-width: 1440px) {
    max-width: 810px;
  }

  @media screen and (max-width: 1439px) {
    left: calc(100vw - 630px);
    max-width: 610px;
  }

  @media screen and (max-width: 1023px) {
    left: calc(100vw - 530px);
    max-width: calc(100vw - 530px);
  }

  @media screen and (max-width: 900px) {
    left: calc(100vw - 480px);
  }

  @media screen and (max-width: 768px) {
    left: calc(100vw - 480px);
    max-width: calc(100vw - 430px);
    max-height: 300px;
    bottom: 9px;
  }

  @media screen and (max-width: 730px) {
    height: 180px;
    width: 302px;
    top: 310px;
    left: 18px;
    max-width: 234px;
  }
}