.intro__card-box {
  width: 100%;
  height: 410px;
  max-width: 810px;
  position: absolute;
  right: 0;
  bottom: 79px;
  box-sizing: border-box;
  aspect-ratio: 810 / 430;

  @media screen and (max-width: 1439px) {
    max-width: calc(100vw - 630px);
    left: 40%;
  }

  @media screen and (max-width: 768px) {
    max-width: calc(100vw - 430px);
    bottom: 9px;
    aspect-ratio: 234 / 160;
    left: 40%;
  }

  @media screen and (max-width: 600px) {
    max-width: calc(100vw - 330px);
    left: 50%;
  }

  @media screen and (max-width: 425px) {
    max-height: 180px;
    width: 302px;
    top: 310px;
    left: 18px;
    max-width: 234px;
  }
}