.intro__text {
  @extend %mainText;
  max-width: 460px;
  padding-top: $paddingTitleToText;
  box-sizing: border-box;

  @media screen and (max-width: 1200px) {
    max-width: 260px;
  }

  @media screen and (max-width: 768px) {
    max-width: 180px;
  }

  @media screen and (max-width: 730px) {
    padding-top: 428px;
    max-width: 284px;
  }
}