.merckx__image {
  width: 100%;
  max-width: 650px;
  max-height: 460px;

  @media screen and (max-width: 1023px) {
    max-width: 520px;
    max-height: 368px;
  }

  @media screen and (max-width: 767px) {
    max-width: 360px;
    max-height: 368px;
  }

  @media screen and (max-width: 425px) {
    margin-bottom: 40px;
  }
}