.intro__button {
  padding: 16px 10px;
  @extend %buttonText;
  border: 0;
  border-radius: 4px;
  background: linear-gradient(to right, $activeButtonColor 50%, $buttonColor 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  margin-top: 50px;
  min-width: 180px;
  transition: background-position .7s;
  cursor: pointer;

  &:hover {
    background-position: bottom left;
  }

  &:focus {
    outline: 1px solid #2bd295;
  }

  @media screen and (max-width: 730px) {
    padding: 14px 30px;
    margin-top: 40px;
  }

  @media screen and (max-width: 425px) {
    padding: 14px 100px;
    margin-top: 40px;
  }
}