.intro__button {
  padding: 16px 10px;
  border: 0;
  border-radius: 4px;
  background: $buttonColor;
  margin-top: 50px;
  min-width: 180px;
  @extend %buttonText;

  @media screen and (max-width: 730px) {
    padding: 14px 30px;
    margin-top: 40px;
  }

  @media screen and (max-width: 425px) {
    padding: 14px 100px;
    margin-top: 40px;
  }

  &:focus {
    outline: 1px solid #2bd295;
  }
}