.intro {
  padding: 20px 0 0 $paddingHorizontalSection;
  width: 100%;
  @extend %limitedWidthSection;
  background-image: url('../images/intro__background-image.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-clip: content-box;
  background-size: auto 836px;
  position: relative;
  min-height: 856px;

  @media screen and (max-width: 1439px) {
    background-size: 50% 100%;
    padding: 20px 0 0 $paddingHorizontalSectionSmallDesktop;
  }

  @media screen and (max-width: 1023px) {
    padding: 20px 0 0 $paddingHorizontalSectionTablet;
  }

  @media screen and (max-width: 768px) {
    background-size: 60% 100%;
    padding-left: 60px;
    min-height: 556px;
  }

  @media screen and (max-width: 730px) {
    padding: 40px $paddingHorizontalSectionLargeMobile 0 $paddingHorizontalSectionLargeMobile;
    background-size: auto 400px;
    background-position: 400px 140px;
    @include flex(column, center, start)
  }

  @media screen and (max-width: 600px) {
    background-size: auto 348px;
    background-position: 48px 160px;
    padding: 40px 0 0 $paddingHorizontalSectionMobile;
  }
}