.merckx {
  width: 100%;
  @extend %limitedWidthSection;
  padding: 120px $paddingHorizontalSection 60px;
  display: grid;
  grid-template-columns: minmax(300px, 650px) 1fr;
  column-gap: 80px;

  @media screen and (max-width: 1439px) {
    grid-template-columns: minmax(300px, 520px) 1fr;
    padding: 120px $paddingHorizontalSectionSmallDesktop;
    column-gap: 40px;
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: minmax(200px, 420px) 1fr;
    padding: 60px $paddingHorizontalSectionTablet;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: minmax(200px, 360px) 1fr;
    padding: 80px $paddingHorizontalSectionLargeMobile;
    column-gap: 40px;
  }

  @media screen and (max-width: 425px) {
    grid-template-columns: 1fr;
    padding: 80px $paddingHorizontalSectionMobile 80px;

    &::before {
      content: '';
      display: block;
      border-top: 1px solid #e3e3e3;
      margin-bottom: 20px;
    }
  }
}