.form {
  @include flex(row, space-between, start);
  width: 100%;
  max-width: 360px;
  padding: 9px 21px 9px 19px;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  background-color: transparent;

  @media screen and (max-width: 767px) {
    max-width: 284px;
  }
}